<div class="row">
  <div class="col-md-5 site-big-logos col-division">
    <%= image_tag "logo.png" %>
    <%= image_tag "about.png" %>
  </div>
  <div class="col-md-7 col-divided">
    <section class="about site-description">
      <p> 
        Hi! We are software developers and we want to help animals, the environment and
        people. We're selling some of our time for any 
        <%= link_to 'nonprofit organizations', 'http://en.wikipedia.org/wiki/Nonprofit_organization', { target: '_blank' } %> that
        need any asistence related to software development and/or maintenance for how much
        they can pay, including nothing. If you want to help you are welcome to join us.
      </p>
      <p>
        The inspiration to make this site came from the video bellow
      </p>
      <iframe src="http://embed.ted.com/talks/amanda_palmer_the_art_of_asking.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </section>
  </div>
</div>

