<section class='about'>
  <p class='lead'>
    Hi! We a software developers and we want to help animals, the environment and
    people. We're selling some of our time to any <%= link_to 'nonprofit
    organizations', 'http://en.wikipedia.org/wiki/Nonprofit_organization', { target: '_blank' } %> that
    need any asistence related to software development and/or maintenance for how much
    they can pay, including nothing. If you want to help you are welcome to <%=
    link_to 'join', '#' %> us.
  </p>
</section>
<section class='row sign-up'>
  <div class='col-md-6'>  
    <h1>I'm a <span>software developer</span> willing to help</h1>
    <p class='lead'>
      I can contribute as a programmer, web designer, UX designer, tester or with
      any other techy stuff that a nonprofit organization wouldn't be into. <%= link_to 'Sign up', new_developer_registration_path %> 
    </p>
  </div>
  <div class='col-md-6'>
    <h1>I'm a <span>nonprofit organization</span> needing help</h1>
    <p class='lead'>
      I'm involved with a nonprofit organization or I'm just a good human being
      helping others and I need help with techy
      stuff that I'm not into. <%= link_to 'Sign up', new_organization_registration_path %>
    </p>
  </div>
</section>
