<h1>Projects</h1>

<section class="projects">
  <header>
    <h1>Projects</h1>
    <div class="actions pull-right">
      <a href="#" class="btn btn-action">new</a>
    </div>
  </header>
  <ul>
    <% @projects.each do |project| %>
      <li>
        <article>
          <header>
            <h1><%= project.title %></h1>
            <h2><%= project.status %></h2>
          </header>
          <div class="project-details">
            <div class="row">
              <div class="col-md-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
              </div>
              <div class="project-team col-md-6">
                <p>
                  Project owner: <span class="project-member-name"><%= project.organization.name %></span> <span class="project-member-email">(<%= mail_to project.organization.email %>)</span>
                </p>
              </div>
            </div>
          </div>
        </article>
      </li>
    <% end %>
  </ul>
</section>
