/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header.main {
  width: 60%;
  margin: 40px auto;
}

header.main  h1 {
  line-height: 60px;
  font-size: 90px;    
  font-family: 'Londrina Sketch', cursive;
  text-align: center;
  text-transform: uppercase;
}

header.main h1 a, header.main h1 a:hover  {
  text-decoration: none;
  color: #000;
}

header.main nav {
  float: right;
  margin: 30px auto 20px;
}

div.page {
  background-color: lightyellow;
  padding: 20px;
  border: 1px lightgray solid;
  clear: both;
}
