@import "configurations.css.scss";
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato', sans-serif;
}

a, a:hover {
  color: $default-green;
}

iframe, img {
  max-width: 100%;
}

header.navbar-main {
  background-color: #F6F6F6;
  border-bottom: 1px solid #EEE;
  margin-bottom: 50px;

  a, a:hover {
    color: #000;
  }

  a.navbar-brand {
    padding: 0px;
  }
}

header.navbar-main .menu {
  text-transform: uppercase;
}

div.container {
  min-height: 84%;
  
  > h1 {
    color: #9F7B41;
    font-size: 2em;
    margin: 0 0 40px 0;
  }
}

div.col-division {
  border-right: 1px solid #EAEAEA;
  -moz-box-shadow: 20px 10px 15px -20px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 20px 10px 15px -20px rgba(0, 0, 0, 0.06);
  box-shadow: 20px 10px 15px -20px rgba(0, 0, 0, 0.06);
}

div.col-divided > .row {
  margin-left: 0;
}

footer.footer-main {
  background-color: #F6F6F6;
  height: 65px;
  margin-top: 20px;
}

footer.footer-main p {
  padding-top: 20px;
}

ul.dropdown-menu {
  text-transform: none;
}

a.btn, button.btn, input[type='submit'].btn, .btn:hover, .btn:active {
  color: white;
  font-size: 1.2em;
  line-height: 30px;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 7px 20px;

  i.fa {
    margin-right: 20px;
    font-size: 2.5em;
    vertical-align: middle;
  }
}

a.btn-action, button.btn-action, input[type='submit'].btn-action {
  background-color: $default-green;
}

a.btn-info, button.btn-info, input[type='submit'].btn-info {
  background-color: $default-blue;
}

a.btn-danger, button.btn-danger, input[type='submit'].btn-danger {
  background-color: $default-red;
}

a.btn-neutro, button.btn-neutro, input[type='submit'].btn-neutro,
a.btn-neutro:hover, button.btn-neutro:hover, input[type='submit'].btn-neutro:hover {
  color: #000;
  border: 1px solid $border-gray;
  background-color: white;
}

input.error, textarea.error, select.error {
  border-color: #B94A48;
}

label.error {
  color: #B94A48;
  font-size: .8em;
}

@media all and (max-width: 991px) {
  div.col-division {
    display: none;
  }

  img.main-vert-logo, div.site-description p {
    float: none !important;
  }

  div.site-description, div.site-description p {
    text-align: center;
  }
}
