@import "configurations.css.scss";
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato', sans-serif;
}

a, a:hover {
  color: $default-green;
}

iframe {
  max-width: 100%;
}

header.navbar-main {
  background-color: #F6F6F6;
  border-bottom: 1px solid #EEE;
  margin-bottom: 50px;

  a, a:hover {
    color: #000;
  }

  a.navbar-brand {
    padding: 0px;
  }
}

header.navbar-main .menu {
  text-transform: uppercase;
}

div.container {
  min-height: 84%;
  
  > h1 {
    color: #9F7B41;
    font-size: 2em;
    margin: 0 0 40px 0;
  }
}

div.col-division {
  border-left: 1px solid #EAEAEA;
}

footer.footer-main {
  background-color: #F6F6F6;
  height: 65px;
  margin-top: 20px;
}

footer.footer-main p {
  padding-top: 20px;
}

ul.dropdown-menu {
  text-transform: none;
}

a.btn, button.btn, input[type='submit'].btn, .btn:hover {
  color: white;
  font-size: 1.2em;
  line-height: 30px;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  border: none;
}

a.btn-action, button.btn-action, input[type='submit'].btn-action {
  background-color: $default-green;
}

a.btn-info, button.btn-info, input[type='submit'].btn-info {
  background-color: $default-blue;
}

a.btn-danger, button.btn-danger, input[type='submit'].btn-danger {
  background-color: $default-red;
}

@media all and (max-width: 991px) {
  div.col-division {
    display: none;
  }

  img.main-vert-logo, div.site-description p {
    float: none !important;
  }

  div.site-description, div.site-description p {
    text-align: center;
  }
}
