@import "configurations.css.scss";

article.access, article.site-summary {
  padding: 10px;

  header > h1 {
    font-size: 2em;
  }

  a.btn {
    margin: 25px 5px 0;
    width: 200px;
  }

  footer {
    text-align: center;
  }
}

article.access-dev {
  margin-bottom: 40px;

  header > h1 {
    color: $default-green;
  }

  footer a.btn {
    width: 260px;

    span {
      vertical-align: middle;
      display: inline-block;
    }
  }
}

article.access-org {
  header > h1 {
    color: $default-blue;
  }
}

div.access-division {
  height: 450px;
}

img.main-vert-logo {
  margin-bottom: 30px;
}

article.site-summary > footer {
  a.btn {
    margin-top: 78px;
  }
}
