@import "configurations.css.scss";

article.projects {
  border: 1px solid $border-gray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  .btn.btn-cancel-project i, .btn.btn-cancel-project i:hover {
    font-size: 2em;
  }

  > header {
    background-color: #9DCCDC;
    border-bottom: 1px solid $border-gray;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: white;
    height: 40px;
    padding: 5px 15px;

    > h1 {
      float: left;
      font-size: 1.5em;
      line-height: 30px;
      margin: 0;
    }

    div.actions {
      a.btn, a.btn:hover, a.btn:visited {
        color: white;
        font-size: 1.2em;
        line-height: 30px;
        padding: 5px 15px;
        width: 110px;
        display: inline;

        i.fa {
          font-size: 1.2em;
          margin-right: 10px;

        }
      }
    }
  }

  > dl {
    margin: 0;

    dt {
      cursor: pointer;

      &:not(:first-child) {
        border-top: 1px solid $border-gray;
      }

      header {
        padding-left: 60px;

        .fa-code {
          color: $default-blue;
          position: absolute;
          margin-left: -40px;
          margin-top: 15px;
          font-size: 1.5em;
        }

        h1 {
          font-size: 1.5em;
          margin: 15px 0 10px 0;
        }

        h2 {
          font-size: 1.2em;
          margin: 0 0 10px 0;
        }
      }
    }

    dd {
      background-color: #F6F6F6;
      padding: 15px;
      margin: 0 15px 15px 60px;
      display: none;

      &:not(:last-child) {
        padding-bottom: 15px;
      }

      div.project-team {
        p {
          font-size: 1.4em;
        }

        span.project-member-name {
          color: $default-green;
        }

        span.project-member-email, span.project-member-email a {
          color: $default-red;
        }
      }
    }
  }
}
